modules = ["nodejs-20", "python-3.11", "web"]
run = "npx nodemon --watch src/apps --exec 'node updateAppJs.js && npm start'"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[watches]
path = "src/apps"
onFileChange = ["node", "updateAppJs.js"]
enable = true
